.table-wrapper {
	width: 100%;

	.mainTable {
		min-width: 1080px;
		margin: 0 auto;
	}
	.table-head {
		background-color: #192f3e;
		.tableCell {
			color: whitesmoke;
		}
	}
	.tableCell {
		.tableInput {
			width: 100%;
			padding: 10px;
		}
	}
}
